.contentsContainer {
  background-color: #ffffff;
  border: 1px solid #dbdbdb;
  border-radius: 8px;
  width: 470px;
  height: auto;
  margin: 16px 0;

  .contentHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 56px;
    padding: 11px;

    .Publisher {
      display: flex;
      justify-content: center;
      align-items: center;
      width: auto;
      height: auto;

      .pubImage {
        background-image: url(../../assets/images/profile/profile.png);
        background-size: contain;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        margin: 0 12px 0 0;
      }

      .pubDetail {
        .pubId {
          font-size: 14px;
          font-weight: bold;
        }

        .pubTitle {
          display: none;
          font-size: 14px;
          color: #8e8e8e;
        }
      }
    }

    .ellipsisIcon {
      svg {
        font-size: 20px;
        margin: 3px;
      }
    }
  }

  .contentsArticle {
    background-image: url(../../assets/images/yes.jpg);
    background-size: cover;
    width: 100%;
    height: 470px;
  }

  .contentsInteract {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    padding: 10px 4px;
    margin: 0 0 5px 0;

    .frontalContainer {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      height: auto;
    }

    svg {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 40px;
      padding: 8px;
    }
  }

  .contentsLike {
    width: 100%;
    height: auto;
    padding: 0 12px;
    margin-bottom: 10px;

    .likeSpan {
      font-size: 14px;
      font-weight: 600;
    }
  }

  .contentsDiscription {
    width: 100%;
    height: auto;
    padding: 0 12px;
    font-size: 15px;

    .descriptionContainer {
      margin-bottom: 9px;

      .userId {
        font-weight: 600;
      }
    }

    .descriptionComment {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 3px;

      .commentLeft {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 0.3rem;

        .userName {
          font-weight: 600;
        }
      }

      .commentRight {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0.3rem;

        .commentRight > i {
          color: rgba(0, 0, 0, 0.5);
        }

        .commentRight > i:hover {
          cursor: pointer;
          color: #000;
        }
      }
    }
  }

  .contentsTimeline {
    width: fit-content;
    font-size: 10px;
    color: #8e8e8e;
    padding: 12px;
  }

  .contentsComment {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 49px;
    padding: 4px 12px;
    border-top: 1px solid #dbdbdb;

    .smileWrapper {
      svg {
        font-size: 28px;
      }
    }

    .commentInput {
      width: 375px;
      height: 30px;
      border: none;
    }

    .commentBtn {
      border: none;
      background-color: white;
      color: #0597f2;
      opacity: 0.5;
      font-weight: 600;
    }
  }
}
