.Footer {
  padding: 0 16px;
  text-align: center;

  .footerNav {
    padding: 0px 0px 52px;
    font-size: 12px;

    .hrefList {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      div {
        margin: 0 7px 10px 7px;

        a {
          &:link,
          &:visited,
          &:hover {
            text-decoration: none;
            color: #8e8e8e;
          }
        }
      }
    }

    .copyright {
      margin: 12px 0;
    }
  }
}
